---
// Datalist de 49 distritos de Lima + Callao. Compartido entre el form de cotización y el checkout.
---
        <datalist id="distritos-lima">
          <option value="Ancón"></option>
          <option value="Ate"></option>
          <option value="Barranco"></option>
          <option value="Breña"></option>
          <option value="Carabayllo"></option>
          <option value="Cercado de Lima"></option>
          <option value="Chaclacayo"></option>
          <option value="Chorrillos"></option>
          <option value="Cieneguilla"></option>
          <option value="Comas"></option>
          <option value="El Agustino"></option>
          <option value="Independencia"></option>
          <option value="Jesús María"></option>
          <option value="La Molina"></option>
          <option value="La Victoria"></option>
          <option value="Lince"></option>
          <option value="Los Olivos"></option>
          <option value="Lurigancho-Chosica"></option>
          <option value="Lurín"></option>
          <option value="Magdalena del Mar"></option>
          <option value="Miraflores"></option>
          <option value="Pachacámac"></option>
          <option value="Pucusana"></option>
          <option value="Pueblo Libre"></option>
          <option value="Puente Piedra"></option>
          <option value="Punta Hermosa"></option>
          <option value="Punta Negra"></option>
          <option value="Rímac"></option>
          <option value="San Bartolo"></option>
          <option value="San Borja"></option>
          <option value="San Isidro"></option>
          <option value="San Juan de Lurigancho"></option>
          <option value="San Juan de Miraflores"></option>
          <option value="San Luis"></option>
          <option value="San Martín de Porres"></option>
          <option value="San Miguel"></option>
          <option value="Santa Anita"></option>
          <option value="Santa María del Mar"></option>
          <option value="Santa Rosa"></option>
          <option value="Santiago de Surco"></option>
          <option value="Surquillo"></option>
          <option value="Villa El Salvador"></option>
          <option value="Villa María del Triunfo"></option>
          <option value="Callao"></option>
          <option value="Bellavista"></option>
          <option value="Carmen de la Legua"></option>
          <option value="La Perla"></option>
          <option value="La Punta"></option>
          <option value="Ventanilla"></option>
          <option value="Mi Perú"></option>
        </datalist>
